<div class="albums">
  <div class="tittle-head">
    <h3 class="tittle">New Releases <span class="new">New</span></h3>
    <a href="#">
      <h4 class="tittle">See all</h4>
    </a>
    <div class="clearfix"> </div>
  </div>
  <div class="col-md-3 content-grid">
    <%= link_to "#small-dialog", class: "play-icon popup-with-zoom-anim" do %>
      <%= image_tag "v1.jpg", title: "allbum-name" %>
    <% end %>
    <%= link_to "Listen now", "#small-dialog", class: "button play-icon popup-with-zoom-anim" %>
  </div>
  <div id="small-dialog" class="mfp-hide">
    <iframe src="https://player.vimeo.com/video/12985622"></iframe>
  </div>
  <div class="col-md-3 content-grid">
    <%= link_to "#small-dialog", class: "play-icon popup-with-zoom-anim" do %>
      <%= image_tag "v2.jpg", title: "allbum-name" %>
    <% end %>
    <%= link_to "Listen now", "#small-dialog", class: "button play-icon popup-with-zoom-anim" %>
  </div>
  <div class="col-md-3 content-grid">
    <%= link_to "#small-dialog", class: "play-icon popup-with-zoom-anim" do %>
      <%= image_tag "v3.jpg", title: "allbum-name" %>
    <% end %>
    <%= link_to "Listen now", "#small-dialog", class: "button play-icon popup-with-zoom-anim" %>
  </div>
  <div class="col-md-3 content-grid last-grid">
    <%= link_to "#small-dialog", class: "play-icon popup-with-zoom-anim" do %>
      <%= image_tag "v4.jpg", title: "allbum-name" %>
    <% end %>
    <%= link_to "Listen now", "#small-dialog", class: "button play-icon popup-with-zoom-anim" %>
  </div>
  <div class="col-md-3 content-grid">
    <%= link_to "#small-dialog", class: "play-icon popup-with-zoom-anim" do %>
      <%= image_tag "v5.jpg", title: "allbum-name" %>
    <% end %>
    <%= link_to "Listen now", "#small-dialog", class: "button play-icon popup-with-zoom-anim" %>
  </div>
  <div id="small-dialog" class="mfp-hide">
    <iframe src="https://player.vimeo.com/video/12985622"></iframe>
  </div>
  <div class="col-md-3 content-grid">
    <%= link_to "#small-dialog", class: "play-icon popup-with-zoom-anim" do %>
      <%= image_tag "v6.jpg", title: "allbum-name" %>
    <% end %>
    <%= link_to "Listen now", "#small-dialog", class: "button play-icon popup-with-zoom-anim" %>
  </div>
  <div class="col-md-3 content-grid">
    <%= link_to "#small-dialog", class: "play-icon popup-with-zoom-anim" do %>
      <%= image_tag "v7.jpg", title: "allbum-name" %>
    <% end %>
    <%= link_to "Listen now", "#small-dialog", class: "button play-icon popup-with-zoom-anim" %>
  </div>
  <div class="col-md-3 content-grid last-grid">
    <%= link_to "#small-dialog", class: "play-icon popup-with-zoom-anim" do %>
      <%= image_tag "v8.jpg", title: "allbum-name" %>
    <% end %>
    <%= link_to "Listen now", "#small-dialog", class: "button play-icon popup-with-zoom-anim" %>
  </div>
  <div class="clearfix"> </div>
</div>
