<div class="main-content">
  <div id="page-wrapper">
    <div class="inner-content">
      <div class="music-left">
        <%= render "static_pages/banner" %>
        <%= render "static_pages/albums" %>
        <%= render "static_pages/discover" %>
      </div>
      <%= render "static_pages/music_right" %>
      <div class="clearfix"></div>
    </div>
    <%= render "static_pages/review_slider" %>
  </div>
  <div class="clearfix"></div>
</div>
