<%= simple_form_for :album do |f| %>
  <%= f.input :name, input_html: {value: ""}, placeholder: t(".enter_name") %>
  <%= f.input :description, input_html: {value: ""}, placeholder: t(".enter_description") %>
  <h3><%= t ".select_artist" %></h3>
  <%= f.collection_select :artist_id, @artist_name, :id, :name,
    include_blank: false %>
  <%= f.file_field :avatar %>
  <%= f.button :submit, t(".new"), class: "btn btn-primary" %>
<% end %>
