<h2><%= t ".search_artist" %></h2>
<%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
  <div class="form-group">
    <%= f.label :name_cont, t(".s_name"), class: "space2" %>
    <%= f.text_field :name_cont, class: "form-control",
      placeholder: t(".enter_s_name") %>
  </div>
  <div class="form-group">
    <%= f.label :description_cont, t('.s_description'),class: "space2" %>
    <%= f.text_field :description_cont, class: "form-control",
      placeholder: t(".enter_s_description") %>
  </div>
    <%= f.submit t(".search"), class: "btn btn-primary" %>
    <%= link_to t(".refresh"), admin_artists_path, class: "btn btn-info" %>
<% end %>
