<div class="card card-plain">
  <div class="card-header card-header-primary">
    <h4 class="card-title mt-0"><%= t ".edit_category" %></h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <%= simple_form_for [:admin, @category] do |f| %>
        <%= f.input :name, placeholder: t(".enter_name_edit") %>
        <%= f.input :description, placeholder: t(".enter_des_edit") %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to t(".backhome"), admin_categories_path, class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
